* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Verdana';
  color: $black;
}

html {
  background: $black;
}

main {
  background: $black;
  max-width: 980px;
  margin: 0 auto;
}

header {
  width: 100%;
}

.action-menu {
  text-align: right;
  height: 39px;
  line-height: 39px;

  &__link {
    color: $light-tan;
    text-decoration: none;
    border-right: 2px solid $light-tan;
    text-transform: uppercase;
    padding: 0px 10px 0px 4px;

    &:hover {
      color: $dark-tan;
    }

    &:nth-last-child(1) {
      border-right: none;
    }
  }
}

.brand-header {
  background: url('../img/main-menu-bg.jpg');
  background-size: cover;
  height: 65px;

  &__logo {
    margin: 8px 0 0 25px;
  }
}

.main-menu {
  float: right;
  line-height: 65px;
  transition: height 1s;

  @include tablet {
    position: absolute;
    left: 0;
    top: 104px;
    width: 100%;
    height: 0;
    overflow: hidden;
    background: $black;
    line-height: normal;
    font-size: 24px;
    text-align: center;
  }

  &.open {
    height: 205px;
    background-color: $black;
    transition: height 1s;
  }

  &__link {
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 8px;

    &:hover {
      color: $light-tan;
    }

    @include tablet {
      width: 100%;
      display: block;
      padding: 10px 0;
      border-bottom: 2px solid $white;
    }
  }
}

.mobile-menu-button {
    display: none;

    @include tablet {
      display: block;
      float: right;
      line-height: 65px;
    }

    &__svg {
      height: 65px;
      line-height: 65px;
      margin-right: 20px;
    }
  }

.hero {
  position: relative;
  width: 100%;
  height: 400px;

  @include tablet-sm {
    display: none;
  }

  &__image {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

.main-content {
  margin-top: 30px;
  margin-bottom: 30px;

  &--white {
    background: $white;
    padding: 20px;
    border-radius: 5px;
  }

  &__title {
    color: $dark-tan;
  }

  &__text {
    color: $black;
    padding-top: 1em;
    font-size: 17px;
    line-height: 25px;
  }
}

.fieldWrapper {
  height: 35px;
  line-height: 35px;

  &:nth-child(5) {
    height: 200px;
    margin-bottom: 10px;
  }

  &:nth-last-child(1){
    height: 50px;
    line-height:50px;
    width: 75%;
  }
}

.contact-form {
  padding-top: 20px;

  &__label {
    width: 25%;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    float: left;
  }

  &__name {
    width: 50%;
    height: 25px;
    line-height: 25px;
    margin-bottom: 10px;
    display: block;
    border: 1px solid $gray;
    border-radius: 2px;
  }

  &__email {
    width: 50%;
    height: 25px;
    line-height: 25px;
    margin-bottom: 10px;
    display: block;
    border: 1px solid $gray;
    border-radius: 2px;
  }

  &__subject {
    width: 50%;
    height: 25px;
    line-height: 25px;
    margin-bottom: 10px;
    display: block;
    border: 1px solid $gray;
    border-radius: 2px;
  }

  &__message {
    width: 50%;
    height: 200px;
    line-height: 25px;
    display: block;
    padding: 5px;
    border: 1px solid $gray;
    border-radius: 2px;
  }
}

.button {
  height: 35px;
  width: 70px;
  color: $white;
  font-size: 15px;
  background-color: $dark-tan;
  border: none;
  border-radius: 3px;
  float: right;

  &:hover {
    background-color: $light-tan;
    cursor: pointer;
  }
}

.login {
  padding-top: 20px;
}

.form-row {
  height: 35px;
  line-height: 35px;

  & label {
    width: 15%;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    float: left;
  }

  & input {
    width: 30%;
    height: 25px;
    line-height: 25px;
    margin-bottom: 10px;
    display: block;
    border: 1px solid $gray;
    border-radius: 2px;
  }
}


.password-reset {
  width: 30%;
  margin-left: 15%;
  height: 30px;
  margin-bottom: 10px;

  &__link {
    text-decoration: none;
    width: 50%;
    margin: 0px 0px 0px 0px;
    font-size: 12px;
    height: 12px;
    line-height: 12px;
    display: block;
    color: $dark-tan;

    &:hover {
      color: $light-tan;
    }
  }

  &__register {
    text-decoration: none;
    width: 50%;
    margin: 5px 0px 0px 0px;
    font-size: 12px;
    height: 12px;
    line-height: 12px;
    display: block;
    color: $dark-tan;

    &:hover {
      color: $light-tan;
    }
  }
}

.submit-row {
  width: 30%;
  margin-left: 15%;
  height: 35px;
  line-height: 35%;
}

.column {
  width: 50%;
  float: left;
  padding: 0px 15px 0px 15px;

  @include mobile-lg {
    width: 100%;
  }

  &:first-child {
    border-right: 1px solid $light-tan;

    @include mobile-lg {
      border-right: none;
      margin-bottom: 20px;
    }
  }

  &__header {
    border: 1px solid $light-tan;
    height: 55px;
    line-height: 55px;
  }

  &__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 23px;
    color: $light-tan;
  }

  &__paragraph {
    padding-top: 1em;
    font-size: 17px;
    line-height: 25px;
    color: $white;
  }
}

.email {
  text-decoration: none;
  color: $light-tan;

  &:hover {
    color: $dark-tan;
    text-decoration: underline;
  }
}

.footer {
  height: 140px;
  max-width: 980px;
  background-image: url('../img/footer-bg.jpg');
  background-size: cover;
  clear: both;

  &__copywrite {
    height: 70px;
    line-height: 70px;
    max-width: 980px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
  }

  &__text {
    color: $white;
  }
}

.footer-menu {
  height: 70px;
  line-height: 70px;
  max-width: 980px;
  text-align: center;

  &__link {
    text-decoration: none;
    border-right: 2px solid $white;
    text-transform: uppercase;
    padding: 0px 10px 0px 4px;
    font-weight: bold;
    color: $white;

    &:hover {
      color: $light-tan;
    }

    &:nth-last-child(1) {
      border-right: none;
      padding-right: 0px;
    }
  }
}

/* HELPERS */
.clear:after {
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
}
