$black: #000000;
$white: #FFFFFF;
$light-tan: #FFC780;
$dark-tan: #A25E3F;
$gray: #999999;

$mobile-width: 400px;
$mobile-large-width: 568px;
$tablet-small-width: 630px;
$tablet-width: 768px;
$desktop-width: 980px;
