{% extends 'base.html' %}
{% block title %}Cattle Importer{% endblock %}
{% load addclass %}
{% block content %}
  <div class="main-content main-content--white clear">
    <h1 class="main-content__title">Cattle Importer</h1>

      {{ form_with_error.non_field_errors }}
      {% for field in form_with_error %}
        {% if field.errors %}
        <div class="cattle-import__error">
          {% for error in field.errors %}
            <p>{{ field.label }}: {{ error }}</p>
          {% endfor %}
        </div>
        {% endif %}
      {% endfor %}

      <form class="cattle-import" method="POST" enctype="multipart/form-data">
        <div class="cattle-import__wrapper">
          {% csrf_token %}
          {{ form.cattle_xlsx.errors }}
          <label class="cattle-import__label" for="{{ form.cattle_xlsx.id_for_label }}">Cattle Excel Spreadshet (.xlsx):</label>
          {{ form.cattle_xlsx|addclass:'cattle-import__excel-button' }}
          <input class="button__import" type="submit" name="Submit">
        </div>
      </form>

  </div>
{% endblock %}
