{% extends 'base.html' %}
{% block title %}Offering{% endblock %}

{% block content %}
  <div class="offering-content clear">
    <h1 class="main-content__title">All Offers</h1>
    {% for cattle in object_list %}
    <div class="offering-content-listing clear">
      <div class="offering-content-listing__column">
        {% if cattle.photos.all.0 %}
        <img class="offering-content-listing__image" src="{{ MEDIA_URL }}{{ cattle.photos.all.0.original_image }}" alt="{{ photos.all.0.title }}"/>
        {% endif %}
      </div>
      <div class="offering-content-listing__column">
        <span class="offering-content-listing__item"><strong>Lot #:</strong> {{ cattle.lot_number }}</span>
        <span class="offering-content-listing__item"><strong>Bull Name:</strong> {{ cattle.bull_name }}</span>
        <span class="offering-content-listing__item"><strong>Producer:</strong> {{ cattle.producer.name }}</span>
        <span class="offering-content-listing__item"><strong>Breed:</strong> {{ cattle.breed }}</span>
        <span class="offering-content-listing__item"><strong>Sex:</strong> {{ cattle.sex }}</span>
        <span class="offering-content-listing__item"><strong>Registration #:</strong> {{ cattle.registration_number }}</span>
        {% if request.user and not request.user.is_anonymous %}
          {% if cattle in request.user.watch_list.all %}
            <span class="button__watchlist button__watchlist--remove js-watchlist-remove" data-href="{% url 'cattle:offering-toggle-watch' cattle.id 'remove' %}">- Stop Watching</span>
            <span class="button__watchlist js-watchlist-add is-hidden" data-href="{% url 'cattle:offering-toggle-watch' cattle.id 'add' %}">+ Watch List</span>
          {% else %}
            <span class="button__watchlist js-watchlist-add" data-href="{% url 'cattle:offering-toggle-watch' cattle.id 'add' %}">+ Watch List</span>
            <span class="button__watchlist button__watchlist--remove js-watchlist-remove is-hidden" data-href="{% url 'cattle:offering-toggle-watch' cattle.id 'remove' %}">- Stop Watching</span>
          {% endif %}
        {% endif %}
        <a class="button__more" href="{% url 'cattle:offering-detail' cattle.id %}">Read More</a>
      </div>
    </div>
    {% empty %}
      <p class="offering-content__message">No cattle currently in the system.</p>
    {% endfor %}
  </div>

  <div class="offering-search">
    <h3 class="offering-search__title">Find Cattle</h3>
    <h5 class="offering-search__category">Type:</h5>
    <h5 class="offering-search__category">Management:</h5>
    <h5 class="offering-search__category">Production:</h5>
    <h5 class="offering-search__category">Maternal:</h5>
    <h5 class="offering-search__category">Carcass:</h5>
    <h5 class="offering-search__category">Producer:</h5>
  </div>
{% endblock %}
