{% extends 'base.html' %}
{% block title %}Offering{% endblock %}

{% block content %}
<div class="flex-wrap">
  <div class="offering-content clear">
    <h1 class="main-content__title">All Offers</h1>
    {% for cattle in object_list %}
    <div class="offering-content-listing clear">
      <div class="offering-content-listing__column">
        {% if cattle.photos.all.0 %}
        <img class="offering-content-listing__image" src="{{ MEDIA_URL }}{{ cattle.photos.all.0.original_image }}" alt="{{ photos.all.0.title }}"/>
        {% endif %}
      </div>
      <div class="offering-content-listing__column">
        <span class="offering-content-listing__item"><strong>Lot #:</strong> {{ cattle.lot_number }}</span>
        <span class="offering-content-listing__item"><strong>Bull Name:</strong> {{ cattle.bull_name }}</span>
        <span class="offering-content-listing__item"><strong>Producer:</strong> {{ cattle.producer.name }}</span>
        <span class="offering-content-listing__item"><strong>Breed:</strong> {{ cattle.breed }}</span>
        <span class="offering-content-listing__item"><strong>Sex:</strong> {{ cattle.sex }}</span>
        <span class="offering-content-listing__item"><strong>Registration #:</strong> {{ cattle.registration_number }}</span>
        {% if request.user and not request.user.is_anonymous %}
          {% if cattle in request.user.watch_list.all %}
            <span class="button__watchlist button__watchlist--remove js-watchlist-remove" data-href="{% url 'cattle:offering-toggle-watch' cattle.id 'remove' %}">- Stop Watching</span>
            <span class="button__watchlist js-watchlist-add is-hidden" data-href="{% url 'cattle:offering-toggle-watch' cattle.id 'add' %}">+ Watch List</span>
          {% else %}
            <span class="button__watchlist js-watchlist-add" data-href="{% url 'cattle:offering-toggle-watch' cattle.id 'add' %}">+ Watch List</span>
            <span class="button__watchlist button__watchlist--remove js-watchlist-remove is-hidden" data-href="{% url 'cattle:offering-toggle-watch' cattle.id 'remove' %}">- Stop Watching</span>
          {% endif %}
        {% endif %}
        <a class="button__more" href="{% url 'cattle:offering-detail' cattle.id %}">Read More</a>
      </div>
    </div>
    {% empty %}
      <p class="offering-content__message">No cattle currently in the system.</p>
    {% endfor %}
  </div>

  <div class="offering-search">
    <h3 class="offering-search__title">Find Cattle</h3>
    <form class="filter-form" action="" method="get">
      {{ form.non_field_errors }}
      {{ form.name.errors }}
      <h4 class="filter-form__title">Production</h4>
      <hr/>
      <div class="filter-form__row">
        <label class="filter-form__label" for="{{ filter.form.scrotal_circumference.id_for_label }}">Scrotal Circumference:</label>
        {{ filter.form.scrotal_circumference }}
      </div>
      <div class="filter-form__row">
        <label class="filter-form__label" for="{{ filter.form.birth_weight.id_for_label }}">Birth Weight:</label>
        {{ filter.form.birth_weight }}
      </div>
      <div class="filter-form__row">
        <label class="filter-form__label" for="{{ filter.form.weaning_weight.id_for_label }}">Weaning Weight:</label>
        {{ filter.form.weaning_weight }}
      </div>
      <div class="filter-form__row">
        <label class="filter-form__label" for="{{ filter.form.yearling_weight.id_for_label }}">Yearling Weight:</label>
        {{ filter.form.yearling_weight }}
      </div>
      <div class="filter-form__row">
        <label class="filter-form__label" for="{{ filter.form.residual_average_daily_gain.id_for_label }}">Residual Average Daily Gain:</label>
        {{ filter.form.residual_average_daily_gain }}
      </div>
      <h4 class="filter-form__title">Maternal</h4>
      <hr/>
      <div class="filter-form__row">
        <label class="filter-form__label" for="{{ filter.form.heifer_pregnancy.id_for_label }}">Heifer Pregnancy:</label>
        {{ filter.form.heifer_pregnancy }}
      </div>
      <div class="filter-form__row">
        <label class="filter-form__label" for="{{ filter.form.calving_ease_maternal.id_for_label }}">Calving Ease Maternal:</label>
        {{ filter.form.calving_ease_maternal }}
      </div>
      <div class="filter-form__row">
        <label class="filter-form__label" for="{{ filter.form.maternal_milk.id_for_label }}">Maternal Milk:</label>
        {{ filter.form.maternal_milk }}
      </div>
      <div class="filter-form__row">
        <label class="filter-form__label" for="{{ filter.form.mature_weight.id_for_label }}">Mature Weight:</label>
        {{ filter.form.mature_weight }}
      </div>
      <div class="filter-form__row">
        <label class="filter-form__label" for="{{ filter.form.mature_height.id_for_label }}">Mature Height:</label>
        {{ filter.form.mature_height }}
      </div>
      <div class="filter-form__row">
        <label class="filter-form__label" for="{{ filter.form.cow_energy_value.id_for_label }}">Cow Energy Value:</label>
        {{ filter.form.cow_energy_value }}
      </div>
      <h4 class="filter-form__title">Carcass</h4>
      <hr/>
      <div class="filter-form__row">
        <label class="filter-form__label" for="{{ filter.form.carcass_weight.id_for_label }}">Carcass Weight:</label>
        {{ filter.form.carcass_weight }}
      </div>
      <div class="filter-form__row">
        <label class="filter-form__label" for="{{ filter.form.marbling.id_for_label }}">Marbling:</label>
        {{ filter.form.marbling }}
      </div>
      <div class="filter-form__row">
        <label class="filter-form__label" for="{{ filter.form.ribeye_area.id_for_label }}">Ribeye Area:</label>
        {{ filter.form.ribeye_area }}
      </div>
      <div class="filter-form__row">
        <label class="filter-form__label" for="{{ filter.form.fat_thickness.id_for_label }}">Fat Thickness:</label>
        {{ filter.form.fat_thickness }}
      </div>
      <input class="button__filter-form" type="submit" />
    </form>
  </div>
</div>
{% endblock %}
