{% extends 'base.html' %}
{% block title %}Offering{% endblock %}

{% block content %}
  <div class="main-content main-content--white">
    <h1 class="main-content__title">Offering</h1>
    {% for cattle in object_list %}
      <a href="{% url 'cattle:offering-detail' cattle.id %}"><h2>Bull Name: {{ cattle.bull_name }}</h2></a>
      <span>producer: {{ cattle.producer.email }}</span><br/>
      <span>lot_number: {{ cattle.lot_number }}</span><br/>
      <span>breed: {{ cattle.breed }}</span><br/>
      <span>sex: {{ cattle.sex }}</span><br/>
      <span>female_type: {{ cattle.female_type }}</span><br/>
      <span>registration_number: {{ cattle.registration_number }}</span><br/>
      <span>sire: {{ cattle.sire }}</span><br/>
      <span>dame: {{ cattle.dame }}</span><br/>
      <span>scrotal_circumference: {{ cattle.scrotal_circumference }}</span><br/>
      <span>birth_weight: {{ cattle.birth_weight }}</span><br/>
      <span>weaning_weight: {{ cattle.weaning_weight }}</span><br/>
      <span>yearling_weight: {{ cattle.yearling_weight }}</span><br/>
      <span>residual_average_daily_gain: {{ cattle.residual_average_daily_gain }}</span><br/>
      <span>heifer_pregnancy: {{ cattle.heifer_pregnancy }}</span><br/>
      <span>calving_ease_maternal: {{ cattle.calving_ease_maternal }}</span><br/>
      <span>maternal_milk: {{ cattle.maternal_milk }}</span><br/>
      <span>mature_weight: {{ cattle.mature_weight }}</span><br/>
      <span>mature_height: {{ cattle.mature_height }}</span><br/>
      <span>cow_energy_value: {{ cattle.cow_energy_value }}</span><br/>
      <span>carcass_weight: {{ cattle.carcass_weight }}</span><br/>
      <span>marbling: {{ cattle.marbling }}</span><br/>
      <span>ribeye_area: {{ cattle.ribeye_area }}</span><br/>
      <span>fat_thickness: {{ cattle.fat_thickness }}</span><br/>
    {% empty %}
      <p>No cattle currently in the system.</p>
    {% endfor %}
  </div>
{% endblock %}
