{% extends 'base.html' %}
{% block title %}Offering{% endblock %}

{% load embed_video_tags %}

{% block content %}
  <div class="main-content main-content--white">
    <h1 class="main-content__title">{{ object.bull_name }}</h1>
    <h2>Bull Name: {{ object.bull_name }}</h2>
    <span>producer: {{ object.producer.email }}</span><br/>
    <span>lot_number: {{ object.lot_number }}</span><br/>
    <span>breed: {{ object.breed }}</span><br/>
    <span>sex: {{ object.sex }}</span><br/>
    <span>female_type: {{ object.female_type }}</span><br/>
    <span>registration_number: {{ object.registration_number }}</span><br/>
    <span>sire: {{ object.sire }}</span><br/>
    <span>dame: {{ object.dame }}</span><br/>
    <span>scrotal_circumference: {{ object.scrotal_circumference }}</span><br/>
    <span>birth_weight: {{ object.birth_weight }}</span><br/>
    <span>weaning_weight: {{ object.weaning_weight }}</span><br/>
    <span>yearling_weight: {{ object.yearling_weight }}</span><br/>
    <span>residual_average_daily_gain: {{ object.residual_average_daily_gain }}</span><br/>
    <span>heifer_pregnancy: {{ object.heifer_pregnancy }}</span><br/>
    <span>calving_ease_maternal: {{ object.calving_ease_maternal }}</span><br/>
    <span>maternal_milk: {{ object.maternal_milk }}</span><br/>
    <span>mature_weight: {{ object.mature_weight }}</span><br/>
    <span>mature_height: {{ object.mature_height }}</span><br/>
    <span>cow_energy_value: {{ object.cow_energy_value }}</span><br/>
    <span>carcass_weight: {{ object.carcass_weight }}</span><br/>
    <span>marbling: {{ object.marbling }}</span><br/>
    <span>ribeye_area: {{ object.ribeye_area }}</span><br/>
    <span>fat_thickness: {{ object.fat_thickness }}</span><br/>
    {% video object.video_url %}
  </div>
{% endblock %}
