* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Verdana';
}

html {
  background: $black;
}

main {
  background: $black;
  max-width: 980px;
  margin: 0 auto;
}

header {
  width: 100%;
}

.action-menu {
  text-align: right;
  height: 39px;
  line-height: 39px;

  &__link {
    color: $light-tan;
    text-decoration: none;
    border-right: 2px solid $light-tan;
    text-transform: uppercase;
    padding: 0 9px;

    &:hover {
      color: $dark-tan;
    }

    &:nth-last-child(1) {
      border-right: none;
    }
  }
}

.brand-header {
  background: url('../img/main-menu-bg.jpg');
  background-size: cover;
  height: 65px;

  &__logo {
    margin: 8px 0 0 25px;
  }
}

.main-menu {
  float: right;
  height: 65px;
  line-height: 65px;

  &__link {
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 8px;

    &:hover {
      color: $light-tan;
    }
  }
}
