{% extends "base.html" %}
{% load i18n admin_static %}

{% block content %}
{% if form.errors and not form.non_field_errors %}
<p class="errornote">
{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
</p>
{% endif %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}

<div class="main-content main-content--white">
  <h1 class="main-content__title">Log In</h1>
  <form class="form-login" action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
    {{ form.username.errors }}
    <div class="form-login__row">
      {{ form.username.label_tag }} {{ form.username }}
    </div>
    {{ form.password.errors }}
    <div class="form-login__row">
      {{ form.password.label_tag }} {{ form.password }}
      <input type="hidden" name="next" value="{{ next }}" />
    </div>
    {% url 'password_reset' as password_reset_url %}
    {% if password_reset_url %}
    <div class="form-login-link">
      <a class="form-login-link__pwd-reset" href="{{ password_reset_url }}">{% trans 'Forgot password?' %}</a>
      <a class="form-login-link__register" href="{% url 'register' %}">Not a member?</a>
    </div>
    {% endif %}
    <div class="form-login__submit">
      <input class="button__login" type="submit" value="{% trans 'Log in' %}" />
    </div>
  </form>
</div>
{% endblock %}
