{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="main-content main-content--white clear">
  {% if validlink %}

  <h1 class="main-content__title">Reset Password</h1>

  <p class="password-reset-confirm__instructions">{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

  <form class="form-password-reset-confirm" action="" method="post">{% csrf_token %}
    {{ form.new_password1.errors }}
    <div class="form-password-reset-confirm__wrapper">
      <label class="form-password-reset-confirm__label" for="id_new_password1">{% trans 'New password:' %}</label>
      {{ form.new_password1 }}
    </div>
    {{ form.new_password2.errors }}
    <div class="form-password-reset-confirm__wrapper">
      <label class="form-password-reset-confirm__label" for="id_new_password2">{% trans 'Confirm password:' %}</label>
      {{ form.new_password2 }}
    </div>
    <div class="form-password-reset-confirm__wrapper">
      <button class="button__confirm" type="submit" value="">Submit</button>
    </div>
  </form>

  {% else %}

  <p class="password-reset-confirm__invalid">{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

  {% endif %}
</div>

{% endblock %}
