{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="main-content main-content--white clear">
  <h1 class="main-content__title">Password Reset</h1>

  <form class="form-password-reset" action="" method="post">{% csrf_token %}
    <p class="form-password-reset__instructions">{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
    {{ form.email.errors }}
    <div class="form-password-reset__wrapper">
      <label class="form-password-reset__label" for="id_email">{% trans 'Email:' %}</label>
      {{ form.email }}
    </div>
    <div class="form-password-reset__wrapper">
      <button class="button__reset" type="submit" value="">Reset Password</button>
    </div>
  </form>
</div>
{% endblock %}
