{% extends 'base.html' %}
{% load addclass %}

{% block content %}
  <div class="main-content main-content--white clear">
    <h1 class="main-content__title">Sign Up</h1>
    {% if messages %}
      {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
      {% endfor %}
    {% endif %}
    {% if form.errors %}
      {% for field in form.errors %}
      {% endfor %}
    {% endif %}
    <form class="form-signup" method="post" action="{% url 'register' %}">
      {% csrf_token %}
      {{ form.name.errors }}
      <div class="form-signup__wrapper">
        <label class="form-signup__label" for="id_name">Name:</label>
        {{ form.name|addclass:'signup__first-name' }}
      </div>
      {{ form.email.errors }}
      <div class="form-signup__wrapper">
        <label class="form-signup__label" for="id_email">Email address:</label>
        {{ form.email|addclass:'signup__email' }}
      </div>
      {{ form.password.errors }}
      <div class="form-signup__wrapper">
        <label class="form-signup__label" for="id_password">Password:</label>
        {{ form.password|addclass:'signup__password' }}
      </div>
      {{ form.newsletter.errors }}
      <div class="form-signup__wrapper">
        <label class="form-signup__last" for="id_newsletter">Keep me updated via email!</label>
        {{ form.newsletter|addclass:'signup__newsletter' }}
      </div>
      <div class="form-signup__wrapper">
        <button class="button__signup" type="submit" value="">Sign up</button>
      </div>
    </form>
  </div>
{% endblock %}
