{% extends 'base.html' %}
{% load addclass %}

{% block content %}
    <div class="main-content main-content--white">
      <h1 class="main-content__title">Sign Up</h1>
        {% if form.errors %}
            {% for field in form.errors %}
            {% endfor %}
        {% endif %}
        <form class="form-signup" method="post" action="{% url 'register' %}">
            {% csrf_token %}
            <p>{{ form.first_name.errors }}</p>
            <label for="id_first_name">First name:</label>
            {{ form.first_name|addclass:'signup__first-name' }}
            <p>{{ form.last_name.errors }}</p>
            <label for="id_last_name">Last name:</label>
            {{ form.last_name|addclass:'signup__last-name' }}
            <p>{{ form.email.errors }}</p>
            <label for="id_email">Email address:</label>
            {{ form.email|addclass:'signup__email' }}
            <p>{{ form.password.errors }}</p>
            <label for="id_password">Password:</label>
            {{ form.password|addclass:'signup__password' }}
            <p>{{ form.newsletter.errors }}</p>
            <label for="id_newsletter">Keep me up to date via email!</label>
            {{ form.newsletter|addclass:'signup__newsletter' }}
            <br/>
            <button class="button signup__button" type="submit" value="">Sign up</button>
        </form>
    </div>
{% endblock %}
