{% extends 'base.html' %}
{% block title %}About Us{% endblock %}

{% block content %}

  <div class="main-content main-content--white">
    <h1 class="main-content__title">About Us</h1>
    <p class="main-content__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus augue massa, vel tristique neque efficitur sed. Quisque interdum condimentum nisi, vitae aliquet leo imperdiet in. Aliquam pellentesque, turpis id lacinia convallis, enim velit fermentum quam, vel feugiat urna nibh pulvinar nulla. Nam sagittis ligula ut metus ullamcorper, quis ultrices purus hendrerit. Suspendisse odio diam, condimentum vitae dolor sit amet, sagittis aliquam diam. Aliquam erat volutpat. Nullam eu orci et odio euismod posuere. Vivamus consequat iaculis sagittis.</p>
    <p class="main-content__text">Suspendisse sed neque id arcu congue consectetur vitae vel sem. Ut faucibus in lacus ut egestas. Quisque mattis, libero vel efficitur sollicitudin, leo mauris volutpat velit, vitae dapibus tellus libero eu mi. Aliquam pulvinar arcu sit amet nibh vehicula accumsan. Mauris vel ultrices elit. Phasellus vitae consectetur eros, eu congue dui. Sed malesuada scelerisque aliquam. Pellentesque in dolor non ex elementum vehicula. Maecenas aliquam porttitor commodo. Praesent porttitor eu augue at tincidunt.</p>
  </div>

{% endblock %}
