<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Cattle Offering{% endblock %}</title>
  {% load compress %}
  {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{{ STATIC_URL }}cattle/css/main.scss" />
  {% endcompress %}
  <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}cattle/js/main.js"></script>
</head>

<body>
  <main>
    <header>
      <nav class="action-menu">
        {% if not request.user or request.user.is_anonymous %}
          <a class="action-menu__link" href="{% url 'register' %}">Register</a>
          <a class="action-menu__link" href="{% url 'login' %}">Log In</a>
        {% else %}
          <a class="action-menu__link" href="{% url 'watchlist' %}">Watch List</a>
          <a class="action-menu__link" href="{% url 'edit-profile' request.user.id %}">Profile</a>
          {% if request.user.is_superuser %}
            <a class="action-menu__link" href="{% url 'cattle:import-cattle' %}">Import</a>
          {% endif %}
          <a class="action-menu__link" href="{% url 'logout' %}">Log Out</a>
        {% endif %}
      </nav>
      <div class="brand-header">
        <a href="{% url 'core:index' %}">
          <img class="brand-header__logo" src="{{ STATIC_URL }}cattle/img/cattle-logo.png" alt="Cattle Offering Logo" />
        </a>
        <div class="mobile-menu-button">
          <svg class="mobile-menu-button__svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" version="1.1" x="0" y="0" width="31.6" height="22.6" viewBox="0 0 31.6 22.6" xml:space="preserve" enable-background="new 0 0 31.6 22.6">
            <style type="text/css">
              .menu-line{fill:#FFFFFF;}
            </style>
            <rect y="0" class="menu-line" width="31.6" height="4.7"/>
            <rect y="8.9" class="menu-line" width="31.6" height="4.7"/>
            <rect y="17.9" class="menu-line" width="31.6" height="4.7"/>
          </svg>
        </div>
        <nav class="main-menu">
          <a class="main-menu__link" href="{% url 'core:about' %}">About Us</a>
          <a class="main-menu__link" href="{% url 'cattle:offering' %}">Offering</a>
          <a class="main-menu__link" href="{% url 'core:contact' %}">Contact Us</a>
        </nav>
      </div>
    </header>
    {% block content %}{% endblock %}
    {% include "footer.html" %}
  </main>
</body>
</html>
