{% extends 'base.html' %}
{% block title %}Offering{% endblock %}

{% block content %}

  <div class="main-content">
    <div class="column">
      <div class="column__header">
        <p class="column__title">Sellers</p>
      </div>
      <div class="column__content">
        <p class="column__paragraph">Cattleoffering.com is designed as an innovative way to allow seed stock producers to market their cattle. Well bred seed stock cattle will attain their true value if buyers know they are out there and where they need to go to find them. Cattle Offering creates visabilit to buyers looking for what you are producing. Cattle Offering is built to take your cattle beyond breed association and catalog marketing.</p>
        <p class="column__paragraph">Cattle Offering provides more data, allowing buyers to make a solid buying decision. Sellers are able to post video, EPDs, vac programs and all other important information for each offering. Buyers are spending a lot of money on seed stock, and the more information provided the more confident a buyer can be in spending.</p>
        <p class="column__paragraph">To become a seller each seed stock producer needs to have a defined seed stock breeding program. In other words, we are not going to list just any cattle. To become a Cattle Offering seller please send a request to <a class="email" href="mailto:info@cattleoffering.com">info@cattleoffering.com</a> with a link to or an attachment of your latest sales catalog. We will evaluate the legitimacy of your program and send you a link to post your offering to our site.</p>
      </div>
    </div>
    <div class="column">
      <div class="column__header">
        <p class="column__title">Buyers</p>
      </div>
      <div class="column__content">
        <p class="column__paragraph">Created with the buyer in mind, Cattle Offering puts more information in the hands of the buyer when making seed stock purchasing decisions.</p>
        <p class="column__paragraph">Seed stock selection decisions echo in cattle herds and bank accounts for years to come. In the past, seed stock purchasing decisions were made by studying catalogs from multiple producers and driving the wheels off pickups trying to find seed stock that would move the herd in a more profitable direction.</p>
        <p class="column__paragraph">An animal with the correct EPDs may not display structure when viewed on sale day, and compromises are often made. Cattle Offering allows buyers to confidently and conveniently search across a greater seed stock selection.</p>
        <p class="column__paragraph">Buyers have access to search seed stock based on producer, breed and EPDs, allowing users to view photos and video of available seed stock prior to sale day cutting the cost and time involved in making a correct purchasing decision. Animals that a buyer would like to bid-on on sale day can be added to a watch list, viewable online from a user account.</p>
      </div>
    </div>
  </div>

{% endblock %}
